html, body, #root {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F0EEE2;
}

.app-content {
    flex: 1;
}

.footer {
    position: sticky;
    bottom: 0;
}
  