.librarySection{
    background-color: #8C2920;
    border-radius: 18px;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}
.libraryRow{
    background-color: #591919;
    padding: 10px;
    box-shadow: 10px -10px 5px black inset;
    height: fit-content;
    min-height: 150px;
    display: flex;
    gap: 10px;
    overflow: hidden;
    margin-bottom: 10px;

}
.firstRow{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 2px solid black;
}
.noRadius{
    border-radius: 0;
    padding-bottom: 0;
    border-bottom: 2px solid black;
}
.librarySection p{
    margin: 5px;
}