/* src/VerticalTextWithImage.css */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    background-color: #7D327A;
    height: 150px;
    max-width: max-content;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    box-shadow: 5px -5px 8px black;
}
 
.text {
    writing-mode: vertical-lr;
    padding: 10px;
/*  text-orientation: upright; */
    cursor: pointer;
    transform: rotate(180deg);
}

.image {
    height: 100%;
    max-width: 0;
    overflow: hidden;
    transition: max-with 1s ;
    position: relative; /* Add relative positioning */
}
.hovered {
    max-width: 200px;
    transition: max-width 1s ;
    
}

.image img {
    height: 100%;
    width: auto;
   
}

  