/* src/VerticalTextWithImage.css */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    background-color: #7D327A;
    height: 150px;
    max-width: max-content;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    box-shadow: 5px -5px 8px black;
    overflow: hidden;
}

.text {
    writing-mode: vertical-rl;
    padding: 10px;
/*  text-orientation: upright; */
    cursor: pointer;
    transform: rotate(180deg);

}

.image {
    height: 100%;
    max-width: 0;
    overflow: hidden;
    transition: max-with 1s ;
    position: relative; /* Add relative positioning */
}
.hovered {
    max-width: 200px;
    transition: max-width 1s ;
    
}

.image img {
    height: 100%;
    width: auto;
   
}

.edit{
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}
.editContainer{
    position: fixed;
    background: rgba(221, 215, 215, 0.452);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 99;
}

.editSection{
    position: absolute;
    background: rgb(221, 215, 215);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    z-index: 100;
}
.editSection p{
    margin: 20px 0;
    font-weight: 500;
}
.editSection select{
    padding: 5px;
    border-radius: 10px 0 0 10px;
    border: 1px solid black;
}
.editSection input{
    padding: 5px;
    border: 1px solid black;
}
.update{
    background-color: rgb(72, 90, 255);
    padding: 6px;
    border: 1px solid black;
}
.delete{
    padding: 6px;
    background-color: rgb(255, 72, 72);
    border-radius: 0 10px 10px 0;
    border: 1px solid black;
}
.close{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
    border: 0;
    width: fit-content;
    font-weight: 900;
    background: rgba(124, 121, 121, 0.397);
    margin-bottom: 20px;
}